{% extends 'base.html' %}

{% block title %}AdoptCat | เปลี่ยนรหัสผ่าน!{% endblock %}


{% block content %}
<br>
<div class="container">
<h1>เปลี่ยนรหัสผ่าน</h1>
    <div class="card" style="width: 35rem;  ">
        
        <form method="post">
        <div class="card-body">
            <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
            </div>
            <center><button class="btn btn-success" type="submit" >ยืนยัน</button></center>
        </div>
        </form>
    </div>
    <br>
</div>
{% endblock %}