{% extends 'base.html' %}

{% block title %}AdoptCat | Profile!{% endblock %}


{% block content %}
<br>

<br>
<div class="container"> 
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                {{ message }}
            </div>
        {% endfor%}
    {% endif %}
    <div class="card">
        <div class="card-body" style="text-align: center; background-color: rgb(251, 150, 113);">
        <h3>โปรไฟล์</h3>
        <div style="text-align: center;"><img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <p>{{ user.username|capfirst }} </p></div>
            <p><small>{{ user.first_name|capfirst }} &emsp; {{ user.last_name|capfirst }}</small></p>
            <p><small>Email : {{ user.email }}</small></p>
        <a href="{% url 'edit_profile' user.profile.id %}">แก้ไขข้อมูลโปรไฟล์</a>
        </div>
    </div>
    <br>
</div>

{% endblock %}