{% extends 'base.html' %}
{% load static %}
{% block title %}AdoptCat | เพิ่มแมว!{% endblock %}


{% block content %}
<br>
<div class='container' >
<div class="card">
    <div class="card-body">
    <h3 style="text-align: center;">แบบฟอร์มสำหรับเพิ่มแมว</h3>
    <p></p>
    <form method="POST" enctype="multipart/form-data">
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}
        <div class="form-group" >
            {% csrf_token %}
                <!--'name','age','gender','color','breed','vaccines','nature','location','picture'!-->
                <p>ชื่อ : &emsp;{{ form.name }}</p>
                <p>อายุ  <small>(เดือน)</small> : &emsp;{{ form.age }}</p>
                <p>เพศ :&emsp;{{ form.gender }} </p>
                สี :&emsp;
                    <div class="card-body">
                    <div class="card-text">
                        {{ form.color }}
                    </div>
                    </div>
                    
                    <p>สายพันธุ์ :&emsp;{{ form.breed }}</p>
                    <p>วัคซีนที่เคยได้รับ :&emsp;{{ form.vaccines }}</p>
                    <p>ลักษณะนิสัย :</p>{{ form.nature }}
                    <br> 
                    <p>Location <small>(ex. หาดใหญ่,สงขลา)</small>&emsp;:{{ form.location }}</p> 
                    <p>แทรกรูปภาพแมว (ขนาด 300x200) &emsp;{{ form.image }}</p>
                    </div>
                    <input type="submit" class="btn btn-outline-success"action="{% url 'mycatlist' %}" value="เพิ่ม">
    </form>

    </div>
</div>
</div>
<br>
{% endblock %}